.userPage {
  background-color: white;
  padding: 20px;


  h2 {
    font-size: 25px;
    font-weight: normal;
    margin-top: 0;
  }

  .user {
    width: 400px;
  }
  md-icon {
    font-size: 60px;
    min-width: 60px;
    min-height: 60px;
  }
  .md-button {
    font-size: 10px;
    line-height: 10px;
  }

  .user-list {
    margin-top: 20px;
  }


}